<nav>
  <div class="site-title">
    <a href="/contacts"><h1> Contacts App</h1></a>
    <p> Maintain your contact list </p>
  </div>

  <ul>
    <li><a href="/contacts"> Contacts </a></li>
    <!--  <li><a href="/about"> About </a></li> -->
    <li><a href="/contacts/create"> Create Contact </a></li>
  </ul>
</nav>